<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../static/CSS/reset.css">
    <link rel="stylesheet" href="../../static/CSS/User.css">
    <title>User Edit</title>
</head>

<body>
    <header>
        <h1 class="header__title">User Edit</h1>
    </header>
    <section class="form">
        <div class="container">
            <form action="#">
                <dl class="from__list">
                    <div class="form__up">
                        <div class="form__item user_id">
                            <dd>
                                <label for="user_id">UserId</label>
                            </dd>
                            <dt>
                                <input type="text" id="user_id" name="user_id">
                            </dt>
                        </div>
                        <div class="form__item mail">
                            <dd>
                                <label for="mail">Mail</label>
                            </dd>
                            <dt>
                                <input type="email" id="mail" name="mail">
                            </dt>
                        </div>
                        <div class="form__item name">
                            <dd>
                                <label for="name">Name</label>
                            </dd>
                            <dt>
                                <input type="text" id="name" name="name">

                            </dt>
                        </div>
                        <div class="form__item password">
                            <dd>
                                <label for="password">Password</label>
                            </dd>
                            <dt>
                                <input type="number" id="password" name="password">
                            </dt>
                        </div>
                        <div class="form__item furigana">
                            <dd>
                                <label for="furigana">Furigana</label>
                            </dd>
                            <dt>
                                <input type="text" id="furigana" name="furigana">
                            </dt>
                        </div>
                    </div>
                    <div class="form__down">
                        <div class="container">
                            <div class="form__down--wrapper">
                                <button class="returnButton"><a href="/">Return</a></button>
                                <button class="registerButton" type="submit">Edit</button>
                            </div>
                        </div>
                    </div>
                </dl>
            </form>
        </div>
    </section>
</body>

</html>