@charset "UTF-8";
body {
  background: url(../images/マイページ背景画像.jpg) center center/cover;
}

.header__title {
  text-align: center;
  color: #8f1c53;
  font-weight: bold;
  font-size: 50px;
}

.mypage__wrapper {
  display: flex;
  max-width: 1150px;
  width: 100%;
  margin: 55px auto 0;
  flex-wrap: wrap;
}

button {
  font-size: 30px;
  border: none;
  color: #fff;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  font-weight: 700;
  font-family: "Kaisei HarunoUmi", serif;
}
button:not(:nth-child(3n+1)) {
  margin-left: 267px;
}
button:nth-child(n+3) {
  margin-top: 60px;
}

.attendanceList__btn {
  background-color: #c8a5c7;
}

.attendanceCorrection__btn {
  background-color: #a7c2ea;
  width: 220px;
  height: 220px;
}

.expense__btn {
  background-color: #fbd1a7;
}

.expenseList__btn {
  background-color: #e38c97;
  width: 220px;
  height: 220px;
}

.attendance__btn {
  background-color: #f8f8ac;
}

.leaving__btn {
  background-color: #c6f8af;
  width: 220px;
  height: 220px;
}