<!DOCTYPE html>
<html>
	
<head>
<meta charset="UTF-8">
<meta name="discription" content="経費一覧画面"/>
<link rel="stylesheet" href="reset.css">
<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap"/>
<link rel="stylesheet" href="../../static/CSS/Expense list.css" />

<title>経費一覧画面</title>
</head>
<body>
	<header>
            <h1 class="header__title">Expense list</h1>
    </header>
    
    <div class="container">
    <table class="keihiichirangamen" width="100%" border="1">
    <thead class="itiran_title">
      <th class="userid" width="20%">UserID</th>
      <th class="sinseibi" width="15%">Application date</th>
      <th class="kingaku" width="15%" >AmountofMoney</th>
      <th class="keihikoumoku" width="25%">Expense item</th>
      <th class="bikou" width="25%">Remarks</th>
    </thead>
    <tr th:each="ExpenseEntity : ${expenselist}" th:object="${ExpenseEntity}">
    <tr class="style_namami">
    <tbody class="nakami1">
      <td class="center" th:text="*{user_id}"></td>
      <td class="center" th:text="${#dates.format(user.updateDate, 'yyyy/MM/dd')}"></td>
      <td th:text="*{shinsei_koumoku}"></td>
      <td th:text="*{shinsei_money}"></td>
      <td th:text="*{bikou}">
    </tbody>
    </tr>
    </tr>
    </div>      
  </table>
    </div>
    <div class="form__down">
	 <div class="container">
		 <div class="form__down--wrapper"></div>
             <button class="returnButton"><a href="/">Return</a></button>
             
	 </div>
 </div>
</body>
</html>