<!DOCTYPE html>
<html>
	
<head>
<meta charset="UTF-8">
<meta name="discription" content="経費申請画面"/>
<link rel="stylesheet" href="/Users/ogatatakeru/LetsEngineer/spring_2306/2306teamdevelopment/2306teamdevelopment/src/main/resources/static/CSS/Expense list.css">
<link rel="stylesheet" href="reset.css">
<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap" rel="stylesheet">
<title>経費一覧画面</title>
</head>
<body>
	<header>
            <h1 class="header__title">Expense list</h1>
    </header>
    
    <div class="container">
    <table class="keihiichirangamen" width="100%" border="1">
    <thead class="itiran_title">
      <th class="userid" width="20%">ユーザーID</th>
      <th class="sinseibi" width="15%">申請日</th>
      <th class="kingaku" width="15%" >金額</th>
      <th class="keihikoumoku" width="25%">経費項目</th>
      <th class="bikou" width="25%">備考</th>
    </thead>
    <div class="style_namami">
    <tbody class="nakami1">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>
    <tbody class="nakami2">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>   
    <tbody class="nakami3">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody> 
    <tbody class="nakami4">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody> 
    <tbody class="nakami5">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody> 
    <tbody class="nakami6">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>  
    <tbody class="nakami5">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>  
    <tbody class="nakami7">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>  
    <tbody class="nakami8">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>  
    <tbody class="nakami9">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>
    <tbody class="nakami10">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>  
    <tbody class="nakami1">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>  
    <tbody class="nakami2">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>  
    <tbody class="nakami3">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>  
    <tbody class="nakami4">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>  
    <tbody class="nakami5">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>  
    <tbody class="nakami16">
      <td>あ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>  
    </div>      
  </table>
    </div>
    <div class="form__down">
	 <div class="container">
		 <div class="form__down--wrapper"></div>
             <button class="returnButton"><a href="/">Return</a></button>
             <button class="registerButton" type="submit">Edit</button>
	 </div>
 </div>
</body>
</html>