<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/attendanceHead :: head_fragment(title='出勤報告', links=~{::link})"></head>
<body>
    <table>
        <tr th:if="${/}" th:each="error : ${validationError}">
            <td>
                <div class="error" th:text="${error}"></div>
            </td>
        </tr>
    </table>
    <div class="header">
        <h1>出勤報告</h1>
    </div>
    <div class="container">
        <div class="clearfix">
            <form th:action="@{/attendance/submit}" th:object="${attendance}" method="post">
                <table>
                    <div class="left">
                        <div class="form-group">
                            <label for="userId">ユーザーID</label>
                            <input type="text" id="userId" name="userId" th:field="*{userId}" />
                            <div class="error" th:errors="*{userId}"></div>
                        </div>
                        <div class="form-group">
                            <label for="remarks">備考</label>
                            <textarea id="remarks" name="remarks"></textarea>
                        </div>
                    </div>
                    <div class="right">
                        <div class="form-group">
                            <label for="attendanceDate">出勤日</label>
                            <input type="date" id="attendanceDate" name="attendanceDate" />
                            <div class="error" th:errors="*{attendanceDate}"></div>
                        </div>
                        <div class="form-group">
                            <label for="attendanceTime">出勤時間</label>
                            <input type="time" id="attendanceTime" name="attendanceTime" />
                            <div class="error" th:errors="*{attendanceTime}"></div>
                        </div>
                        <div class="form-group">
                            <label for="status">ステータス</label>
                            <select id="status" name="status" th:field="*{status}">
                                <option value="出勤">出勤</option>
                                <option value="遅刻">遅刻</option>
                                <option value="欠勤">欠勤</option>
                            </select>
                            <div class="error" th:errors="*{status}"></div>
                        </div>
                    </div>
                </table>
            </div>
            <div class="footer">
                <button class="backBtn"><a href="/mypage">戻る</a></button>
                <button class="submitBtn" type="submit" value="submit">登録</button>
            </div>
        </form>
    </div>
</body>
</html>
