<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="discription" content="経費一覧画面" />
	<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap" />
	<link rel="stylesheet" href="../static/CSS/ExpenseList.css" />

	<title>経費一覧画面</title>
</head>
<body>
	<header>
		<h1 class="header__title">Expense list</h1>
	</header>

	<div class="container">
		<table class="keihiichirangamen" width="100%" border="1">
			
				<tbody class="nakami1">
					<tr class="back-color">
						<td nowrap>ID</td>
						<td nowrap>申請日</td>
						<td nowrap>申請項目</td>
						<td nowrap>経費ID</td>
						<td nowrap>申請金額</td>
						<td nowrap>備考</td>
					</tr>
					<tr th:each="expenselist : ${expenselist}">
						<td th:text="${expenselist.user_id}"></td>
						<td th:text="${#dates.format(expenselist.shinsei_day, 'yyyy/MM/dd')}"></td>
						<td th:text="${expenselist.shinsei_koumoku}"></td>
						<td th:text="${expenselist.keihi_id}"></td>
						<td th:text="${expenselist.shinsei_money}"></td>
						<td th:text="${expenselist.bikou}"></td>
					</tr>
				</tbody>
		</table>
	</div>
	<div class="form__down">
		<div class="container">
			<div class="form__down--wrapper"></div>
			<button class="returnButton"><a href="./mypage.html">Return</a></button>

		</div>
	</div>
</body>

</html>