<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="discription" content="経費申請画面" />
	<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap" />
	<link th:href="@{/CSS/ExpenseApplicationScreen.css}" rel="stylesheet">
	<title>経費申請画面</title>
</head>

<body>
	<header>
		<h1 class="header__title">Expense Application Screen</h1>
	</header>
	<div class="container">
		<form th:action="@{/ExpenseCreate}" th:method="POST" th:object="${expenseRequest}">
			<div class="from__list">
				<div class="form__up">

					<div class="form__item userid">
						<label for="USERID">ユーザーID</label>
						<dt>
							<input type="text" class="form--userid" th:field="*{user_id}">
						</dt>
					</div>
					<div class="form__item applicationdate">
						<label for="SHINSEIBI">申請日</label>
						<dt>
							<input type="date" class="form--applicationdate" th:field="*{shinsei_day}">
						</dt>
					</div>
					<div class="form__item expenseitem">
						<label for="KEIHIKOUMOKU">経費項目</label>
						<dt>
							<input type="text" class="form--expenseitem" th:field="*{shinsei_koumoku}">
						</dt>
					</div>
					<div class="form__item amountofmoney">
						<label for="KINGAKU">申請金額</label>
						<dt>
							<input type="text" class="form--amountofmoney" th:field="*{shinsei_money}">
						</dt>
					</div>
					<div class="form__item remarks">
						<label for="BIKOU">備考</label>
						<dt>
							<input type="text" class="form--remarks" th:field="*{remarks}">
						</dt>
					</div>
				</div>
				<div class="form__down">
					<div class="container">
						<div class="form__down--wrapper"></div>
						<button class="returnButton"><a href="/mypage">戻る</a></button>
						<button type="submit" class="registerButton" value="新規登録">登録</button>
					</div>
				</div>
		</form>

		</dlv>
</body>

</html>