body {
    background-image: url("/Users/kaitomiyazaki/Pictures/Photos Library.photoslibrary/originals/C/C76B8500-39BA-4EE4-9889-7D8384C61EA5.jpeg");
    background-size: cover;
    background-position: center;
    font-family: 'Kaisei HarunoUmi', serif;
    margin: 0;
    padding: 20px;
  }
  h1 {
  color: #aca642;
    line-height: 100px;
    font-size: 50px;
    font-weight: 700px;
  }
  .form-group {
    
    margin-bottom: 20px;
  }
  label {
    color: #405298;
    display: block;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
  }
  input[type="text"],
  select,
  textarea {
    width: 300px;
    height: 26px;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 30px;
  }
  input[type="date"],
  select,
  textarea {
    width: 300px;
    height: 26px;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 30px;
  }
  input[type="time"],
  select,
  textarea {
    width: 300px;
    height: 26px;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 30px;
    text-align: left;
  }
  button {
    
    font-size: 10px;
    background-color: #f0eee8;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    
    
  
  }
  #submitBtn {
    width: 120px;
    height: 50px;
    color: #405298;
    background-color: #f8fafa;
    border: 1px solid black;
    font-family: inherit;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 15px;
    width: 80px; /* ボタンの幅 */
    height: 75px; /* ボタンの高さ */
  }
  
  #backBtn {
    width: 120px;
    height: 50px;
    color: #405298;
    background-color: #f8fafa;
    border: 1px solid black;
    font-family: inherit;
    border-radius: 50%;
    margin-left: 15px;
    font-size: 15px;
    width: 80px; /* ボタンの幅 */
    height: 75px; /* ボタンの高さ */
  }
  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }
  .left{
    text-align: center;
    right: 400px;
    float: left;
  }
  .right{
    text-align: center;
    float: right;
  
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  .footer {
    display: fixed;
    flex-wrap: wrap;
    text-align: right;
    margin-top: 100px;
  }
  
  
  