<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/LeavingHead :: head_fragment(title = '退勤報告', links = ~{::link})"></head>
<body>
  <table>
    <tr th:if="${validationError}" th:each="error : ${validationError}">
        <td>
            <div class="error" th:text="${error}"></div>
        </td>
    </tr>
  </table>
    <div class="header">
        <h1>Leaving Work Report</h1>
    </div>
    <div class="container">
    　<div class="clearfix">
        <form th:action="@{/Leaving/submit}" th:object="${Leaving}" method="post">
        <table>
            <div class="left">
                <div class="form-group">
                    <label for="userId">User ID</label>
                    <input type="text" id="userId" th:field="*{userId}"/>
                    <div class="error" th:errors="*{userId}"></div>
                </div>
                <div class="form-group">
                    <label for="remarks">Remarks</label>
                    <textarea id="remarks" name="remarks"></textarea>
                </div>
                <div class="form-group">
                    <label for="breaktime">Break Time（分）</label>
                    <input type="text" id="breakTime" name="breakTime"/>
                    <div class="error" th:errors="*{breakTime}"></div>
                </div>
            </div>
            
            <div class="right">
                <div class="form-group">
                    <label for="leavingworkDate">Leaving Date</label>
                    <input type="date" id="leavingDate" name="leavingDate"/>
                    <div class="error" th:errors="*{leavingDate}"></div>
                </div>
                <div class="form-group">
                    <label for="leavingTime">Leaving Time</label>
                    <input type="time" id="leavingTime" name="leavingTime"/>
                    <div class="error" th:errors="*{leavingTime}"></div>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select id="status" name="status">
                        <option value="退勤">leaving work</option>
                        <option value="早退">leaving early</option>
                    </select>
                    <div class="error" th:errors="*{status}"></div>
                </div>
               </table>
            </div>
            <div class="footer">
                <button class="backBtn"><a href="/mypage">Return</a></button>
                <button class="submitBtn" type="submit" value="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>
