<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head th:replace="/common/UserHead :: head_fragment(title = 'マイページ', links = '../CSS/mypage.css')"></head>
	
<body>
<h1 class="header__title">Mypage</h1>
	<div class="container mypage__wrapper">
		<button class="attendanceList__btn" type = "button" onclick="location.href='/user/registration'">勤怠<br>一覧</button>
		<button class="attendanceCorrection__btn" type = "button" onclick="location.href='/user/63/edit'">勤怠修正<br>依頼一覧</button>
		<button class="expense__btn" type = "button" onclick="location.href=''">経費<br>フォーム</button>
		<button class="expenseList__btn" type = "button" onclick="location.href=''">経費<br>一覧</button>
		<button class="attendance__btn" type = "button" onclick="location.href='/attendance/submit'">出勤報告<br>フォーム</button>
		<button class="leaving__btn" type = "button" onclick="location.href=''">退勤報告<br>フォーム</button>
	</div>
</body>
</html>