<!DOCTYPE html>
<html>
	
<head>
<meta charset="UTF-8">
<meta name="discription" content="経費申請画面"/>
<link rel="stylesheet" href="reset.css">
<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap"/>
<link rel="stylesheet" href="../../static/CSS/Expense application screen.css" />
<title>経費申請画面</title>
</head>
<body>
    <header>
            <h1 class="header__title">Expense application screen</h1>
    </header>
 <section class="form">
 <div class="container">
	 <form action="#">
		 <dlv class="from__list">
			 <div class="form__up">
				 
		<div class="form__item userid">
			<dd>
			<label for="USERID">UserID</label>
			</dd>
			<dt>
            <input type="text" class="form--userid">
			</dt>
		</div>
		<div class="form__item applicationdate">
			<dd>
			<label for="SHINSEIBI">Application date</label>
			</dd>
			<dt>
            <input type="date" class="form--applicationdate">
			</dt>
		</div>
		<div class="form__item expenseitem">
			<dd>
			<label for="KEIHIKOUMOKU">Expense item</label>
			</dd>
			<dt>
            <input type="text" class="form--expenseitem">
            </dt>
		</div>	
		<div class="form__item amountofmoney">
			<dd>
			<label for="KINGAKU">AmountofMoney</label>
			</dd>
			<dt>
            <input type="text" class="form--amountofmoney">
            </dt>
		</div>
		<div class="form__item remarks">
			<dd>
			<label for="BIKOU">Remarks</label>
			</dd>
			<dt>
            <input type="text" class="form--remarks">
            </dt>
		</div>
 </div>
 <div class="form__down">
	 <div class="container">
		 <div class="form__down--wrapper"></div>
             <button class="returnButton"><a href="/">Return</a></button>
             <button class="registerButton" type="submit">Edit</button>
	 </div>
 </div>
		 </dlv>
		</section>
</body>
</html>