body {
	font-family: "Kaisei HarunoUmi", serif;
	background-image: url("../images/背景画像.jpg");
	background-size: cover;
}

.header__title {
	font-size: 50px;
	color: #aca642;
	text-align: left;
}

.container {
	overflow: auto;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	max-height: 300px;
	display: flex;
	flex-wrap: wrap
}

.title {
	color: #405298;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

.data {
	font-size: 30px;
	color: #405298;
	text-align: center;
}

.form__down {
	margin-top: 150px;
}

.form__down--wrapper {
	margin-left: auto;
	width: 197px;
}

.returnButton {
	width: 80px;
	height: 75px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #000;
}

.returnButton a {
	color: #405298;
}

.registerButton {
	width: 80px;
	height: 75px;
	color: #405298;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #000;
	margin-left: 15px;
}