body {
    background-image: url("/Users/kaitomiyazaki/Pictures/Photos Library.photoslibrary/originals/C/C76B8500-39BA-4EE4-9889-7D8384C61EA5.jpeg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
h1 {
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 700px;
  }
  .form-group {
    
    margin-bottom: 20px;
  }
  label {
    
    display: block;
    font-weight: bold;
    text-align: center;
  }
  input[type="text"],
  select,
  textarea {
    width: 300px;
    height: 26px;
    padding: 5px;
    font-size: 15px;
  }
  input[type="date"],
  select,
  textarea {
    width: 300px;
    height: 26px;
    padding: 5px;
    font-size: 15px;
  }
  input[type="time"],
  select,
  textarea {
    width: 300px;
    height: 26px;
    padding: 5px;
    font-size: 15px;
  }
  button {
    
    font-size: 10px;
    background-color: #f0eee8;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    
    

  }
  #submitBtn {
    width: 120px;
    height: 50px;
    color: black;
    background-color: #f8fafa;
    border: 1px solid black;
    border-radius: 50%;
    width: 60px; /* ボタンの幅 */
    height: 60px; /* ボタンの高さ */
  }
  
  #backBtn {
    width: 120px;
    height: 50px;
    color: black;
    background-color: #f8fafa;
    border: 1px solid black;
    border-radius: 50%;
    width: 60px; /* ボタンの幅 */
    height: 60px; /* ボタンの高さ */
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.left{
    text-align: center;
    right: 400px;
    float: left;
}
 .right{
    text-align: center;
    float: right;

}
.container {
    max-width: 800px;
    margin: 0 auto;
  }
  .footer {
    display: fixed;
    flex-wrap: wrap;
    text-align: right;
    margin-top: 100px;
  }

